@import url('../assets/fonts/fonts.css');

:root {
  --warna-teks-dasar: #242424;
  --warna-primer: #f6f1f1;
  --warna-sekunder: #afd3e2;
  --warna-tersier: #19a7ce;
  --warna-kuartener: #146c94;
}

body {
  font-family: "Fivo Regular";
  background-color: var(--warna-primer);
  color: var(--warna-teks-dasar);
}


